PYTHON/SEM 3/mod 1/mod 2/xml/xml lab/10/classroom.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name='classroom'>
	<xs:complexType>
		<xs:sequence>
			<xs:element name='student' type='StudentDetails' minOccurs='0' maxOccurs='unbounded' />
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:complexType name="StudentDetails">
	<xs:sequence>
		<xs:element name="firstname" type="xs:string"/>
		<xs:element name="lastname" type="xs:string"/>
		<xs:element name="division" type="xs:string"/>
		<xs:element name="marks" type="xs:positiveInteger"/>
	</xs:sequence>
	<xs:attribute name='rollno' type='xs:positiveInteger'/>

</xs:complexType>
</xs:schema>
